__pycache__/
*.py[cod]
*$py.class
.env
.idea/
.vscode/

# Node
node_modules/
dist/
dist-ssr/
*.local
.next/

# environment variables
venv/
.venv/
backend/.env

# Logs
logs/
*.log

# Redis/Supabase local
.upstash
supabase/

# OS
.DS_Store
Thumbs.db
